# chapter 11. 자료형 - set, tuple & 모듈 불러오기

## 1) 자료형 - set

① 1, 2, 3, 4로 구성된 집합 set1을 만들어 출력하고 자료형을 확인해보시오.  
* 힌트: type(집합)

In [5]:
set1={1,2,3,4}
type(set1)

set

② 위에서 생성한 set1에 새로운 값 5를 추가하고 결과를 확인한 뒤,  
또 다시 새로운 값 3을 추가하고 결과를 확인하시오.  
* 힌트: 집합.add(추가할 값)

In [6]:
set1.add(5)
set1.add(3)
print(set1)

{1, 2, 3, 4, 5}

③ 'h', 'e', 'l', 'l', 'o'로 구성된 집합 set2을 만들어 출력하고 자료형을 확인해보시오.

In [7]:
set2={ 'h', 'e', 'l', 'l', 'o'}
type(set2)

set

④ 위에서 생성한 set2에 새로운 값 'w', 'o', 'r', 'l', 'd'를 추가하고 결과를 확인하시오.

In [10]:
set2.add( 'w')
set2.add( 'o')
set2.add( 'r')
set2.add( 'l')
set2.add( 'd')
print(set2)   #for루프 써서 다시해보기

{'h', 'w', 'o', 'e', 'l', 'd', 'r'}

## 2) 자료형 - tuple

① 23.5, 10.1로 구성된 튜플 t1과 1, 2, 3, 4, 5로 구성된 튜플 t2를 각각 만들어 출력하고 자료형을 확인하시오.  
* 힌트: type(튜플)

In [12]:
t1=(23.5, 10.1)
print(type(t1))
t2=(1, 2, 3, 4, 5)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

② 1, 2, 3, 4, 5로 구성된 튜플 t2에서 인덱스를 사용하여 첫 번째 값과 세 번째 값을 조회하시오.

In [13]:
print(t2[0])
print(t2[2])

1
3

③ empty라는 이름으로 비어 있는 튜플을 만들고 튜플의 자료형을 확인하시오.

In [14]:
empty=()
type(empty)

tuple

④ 튜플 t3가 1, 3, 5, 7, 9로 구성되어 있다고 할 때, 인덱스를 사용하여 튜플의 세 번째부터 마지막 값을 출력하시오.

In [15]:
t3=(1,3,5,7,9)
print(t3[2:])

(5, 7, 9)

## 3) 라이브러리(패키지), 모듈, 함수

① import로 math 라이브러리를 불러와 봅시다. 불러온 라이브러리를 활용하여 팩토리얼 계산을 해 봅시다.  
팩토리얼 계산 함수는 n!을 계산할 때 factorial(n)이다.

In [19]:
import math
print(math.factorial(3))

6

② 이번에는 import로 불러온 라이브러리에 별칭을 붙여 봅시다.   
math 라이브러리를 불러오며 m이라는 별칭을 붙여 주고,  
팩토리얼 계산을 해 봅시다.

In [20]:
import math as m
print(m.factorial(3))

6

③ 이번에는 math 라이브러리에서 factorial 함수만 불러와서 팩토리얼 계산을 해 봅시다.

In [22]:
from math import factorial
print(factorial(3))

6

④ random 라이브러리 사용하기
* random 라이브러리를 rd 별칭으로 불러옵시다.
* randint 함수를 사용해 봅시다.
    * randint(a,b) : a부터 b 사이의 임의의 숫자를 반환합니다.

In [24]:
import random as rd
rd.randint(1,5)

5

⑤ [심화] 주사위를 던져서 나온 숫자들의 총합을 구하는 코드를 작성해 봅시다.
* 주사위를 던질 횟수를 받는 변수 count(숫자)
* count 만큼 주사위를 던져서 나온 모든 숫자들의 합 구해 봅시다.
* 주사위의 각 면에는 1 ~ 6까지의 눈이 새겨져 있고, 각 숫자는 무작위로 나옵니다.(randint 함수 사용)

* 힌트 : 주사위를 던져 나온 수들을 리스트에 저장하고, sum 함수를 이용해 봅시다.

In [26]:
#내 답
count=5
total=[]
for i in range(count):
    a=rd.randint(1,6)
    total.append(a)
print(sum(total))

13

In [31]:
#수업 답 1.
count = int(input())
total =0
for i in range(count) :
    n=rd.randint(1,6)
    total = total+n   #n을 설정해주는 이유는 만약 n지정 없이 total과 print를 하면 둘다 랜덤이 돌아가서 값이 다르다.
    print(n)
print(total)

10
4
2
1
1
3
3
5
2
5
5
31

In [34]:
#수업 답 2.
count = int(input())
dice=[]
for i in range(count):
    n=rd.randint(1,6)
    dice.append(n)
    
print(dice)
print(sum(dice))

5
[1, 5, 4, 5, 3]
18

⑥ [심화] 주사위 두개를 한꺼번에 던져서 나온 두 숫자의 합을 구하고, 이를 여러번 시행했을 때의 평균 값을 구해 봅시다.

* 주사위 2개를 던질 횟수 변수 count
* 주사위의 각 면에는 1 ~ 6까지의 눈이 새겨져 있고, 각 숫자는 무작위로 나옵니다.(randint 함수 사용)
* n번 시행후, 두 주사위 숫자 합의 평균을 구해 봅시다.

* 힌트 : 두 주사위를 던져 나온 수의 합을 각각 리스트에 저장하고, sum 함수와 len 함수를 이용하여 평균을 구해 봅시다.

In [27]:
#내 답
count=10
total=[]
for i in range(count):
    a=rd.randint(1,6)
    b=rd.randint(1,6)
    total.append(a+b)
print(sum(total)/len(total))

6.1

In [38]:
#수업 답
count=int(input())
dice=[]
for i in range(count):
    n1=rd.randint(1,6)
    n2=rd.randint(1,6)
    dice.append(n1+n2)
    
print(dice)
print(sum(dice)/count)

3
[8, 3, 8]
6.333333333333333